@import "src/styles/base";

.roomImgBanner {
  position: relative;
  border-bottom: 1px solid $color-surface-secondary;
  border-top: 1px solid $color-surface-secondary;

  & > img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
}

.imgBannerDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 500px;
  background-color: $color-surface;
  padding: $spacing-9;
  border: 1px solid $color-surface-secondary;
  border-bottom: none;

  @media (max-width: $screen-md) {
    max-width: 400px;
    padding: $spacing-4;
  }

  & > .price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-3;
    font-family: $font-serif;
    font-size: $font-sm;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (max-width: $screen-md) {
      font-size: $font-xs;
    }

    & > .priceValue {
      color: $color-text-light;
      font-size: $font-5xl;
      
      @media (max-width: $screen-md) {
        font-size: $font-3xl;
      }
    }
  }

  & > .button {
    display: block;
    margin-top: $spacing-3;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-xs;
    letter-spacing: 1px;
    width: 100%;
    padding: $spacing-4 $spacing-12;
    background-color: $color-primary;
    color: #fff;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.bannerFeatureList {
  margin-top: $spacing-6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-3;

  @media (max-width: 400px) {
    display: none;
  }

  & > .bannerFeature {
    display: flex;
    align-items: center;
    gap: $spacing-4;

    & > .bannerIcon {
      width: 25px;
      height: 25px;
      stroke: #000;
      fill: transparent;
      color: transparent;

      @media (max-width: $screen-md) {
        width: 20px;
        height: 20px;
      }
    }

    & > p {
      font-size: $font-sm;
      text-transform: uppercase;
      letter-spacing: 1px;

      @media (max-width: $screen-md) {
        font-size: $font-xs;
      }
    }
  }
}

.roomMain {
  padding: $spacing-16 $spacing-4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: $spacing-9;

  @media (max-width: $screen-lg) {
    display: flex;
    flex-direction: column;
    gap: $spacing-9;
  }
}

.roomMainDescription {
  @media (max-width: $screen-md) {
    text-align: center;
  }

  & > h1 {
    font-family: $font-serif;
    font-size: $font-5xl;

    @media (max-width: $screen-md) {
      font-size: $font-3xl;
    }
  }

  & > .roomDescription {
    margin-top: $spacing-6;
    line-height: 1.75;
  }

  & > .gallery {
    margin-top: $spacing-9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: $spacing-4;
    column-gap: $spacing-4;
    align-items: stretch;
    
    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & > .galleryImg {
      display: block;
      overflow: hidden;
    }

    & > .galleryImg:first-child {
      grid-column: 1 / span 2;
    }

    & img {
      height: 100%;
      object-fit: fill;
      transition: all 0.5s ease-out;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

.featuresContainer {
  margin-top: $spacing-24;
  padding: $spacing-16 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  @media (max-width: $screen-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & > h3 {
    font-family: $font-serif;
    font-size: $font-3xl;
  }

  & > p {
    margin-top: $spacing-4;
  }
}

.featureList {
  margin-top: $spacing-9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $spacing-4;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    display: flex;
    flex-direction: column;
  }

  & > .feature {
    display: flex;
    align-items: center;
    gap: $spacing-4;

    & > .featureIcon {
      width: 28px;
      height: 28px;
      stroke: #000;
      stroke-width: 1px;
      fill: transparent;
    }
  }
}

.relatedContainer {
  padding: $spacing-16 $spacing-4;
  
  @media (max-width: $screen-md) {
    text-align: center;
  }

  & > h3 {
    font-family: $font-serif;
    font-size: $font-3xl;
  }
}

.relatedList {
  margin-top: $spacing-12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: $spacing-5;
  row-gap: $spacing-5;

  @media (max-width: $screen-md) {
    display: flex;
    flex-direction: column;
    gap: $spacing-12;
  }
}

.relatedRoom {
  &:hover img {
    transform: scale(1.03);
  }
}

.relatedImgContainer {
  position: relative;
  overflow: hidden;

  & > img {
    transition: all 0.5s ease-out;
  }

  & > .relatedImgDetails {
    position: absolute;
    right: 0;
    bottom: 10%;
    background-color: $color-surface;
    padding: $spacing-2 $spacing-5;
    font-family: $font-serif;
    font-size: $font-sm;
    text-transform: uppercase;

    & > .relatedImgPrice {
      display: inline-block;
      margin-left: $spacing-1;
      font-size: $font-xl;
    }
  }
}

.relatedDetails {
  display: flex;
  flex-direction: column;
  
  @media (max-width: $screen-md) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: $spacing-2;
  }
}

.relatedFeatures {
  padding: $spacing-2 0;
  display: flex;
  align-items: center;
  gap: $spacing-4;

  & > .relatedFeatureDivider {
    width: 1px;
    height: 12px;
    background-color: #000;
  }
}

.relatedFeature {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  font-size: $font-sm;

  & > .relatedIcon {
    width: 16px;
    height: 16px;
    stroke: #000;
    fill: transparent;
    stroke-width: 1px;
  }
}

.relatedRoomName {
  font-family: $font-serif;
  font-size: $font-xl;

  @media (max-width: $screen-md) {
    font-size: $font-2xl;
  }
}