@import "styles/base";
@import "react-day-picker/dist/style.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-sans;
  line-height: 1.75;
  background-color: $color-surface;
  color: $color-text;
}

::selection {
  color: #fff;
  background-color: $color-primary-dark;
}

.rdp {
  --rdp-accent-color: hsl(15, 93%, 32%);
  --rdp-background-color: hsl(17deg 35% 90%);
}