@import "src/styles/base";

.successPage {
  padding: $spacing-12 $spacing-4;

  & h1 {
    font-family: $font-serif;
    font-size: $font-4xl;
  }
}

.returnButton {
  display: inline-block;
  margin-top: $spacing-12;
  padding: $spacing-3 $spacing-12;
  background-color: $color-primary;
  color: #fff;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $color-primary-dark;
  }
}