@import "/src/styles/base";

.footerPrimary {
  padding: $spacing-36 0;
  background-color: $color-primary;
  
  @media (max-width: $screen-lg) {
    display: flex;
    align-items: center;
    padding: $spacing-12 $spacing-8;
  }
}

.footerCenter {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: $spacing-12;

  @media (max-width: $screen-lg) {
    flex-direction: column;
  }
}

.footerCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-5;

  @media (max-width: $screen-lg) {
    gap: $spacing-3;
  }

  & > .footerColHeader {
    font-family: $font-serif;
    font-size: $font-2xl;
    color: #fff;

    @media (max-width: $screen-lg) {
      font-size: $font-lg;
    }
  }

  & > .footerColItem {
    display: flex;
    gap: $spacing-2;
    align-items: center;

    @media (max-width: $screen-lg) {
      font-size: $font-sm;
    }
  }
}

.socialIcon {
  width: 1rem;
  fill: #fff;
}

.footerSecondary {
  text-align: center;
  padding: $spacing-8 0;
  background-color: $color-primary-dark;
  color: #fff;
}