@import "src/styles/base";

.room {
  background-color: $color-surface-secondary;
}

.roomImg {
  display: block;
  overflow: hidden;

  & > img {
    transition: all 0.5s ease-out;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.roomBody {
  padding: $spacing-9;

  @media (max-width: $screen-sm) {
    text-align: center;
  }
}

.roomHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & > h3 {
    font-family: $font-serif;
    font-size: $font-3xl;

    @media (max-width: $screen-lg) {
      font-size: $font-2xl;
    }

    &:hover {
      text-decoration: underline 2px;
      text-underline-offset: 4px;
    }
  }

  & > .roomPrice {
    font-family: $font-serif;

    & > .basePrice {
      display: inline-block;
      margin-left: $spacing-2;
      font-size: $font-3xl;

      @media (max-width: $screen-lg) {
        font-size: $font-2xl;
        margin-left: $spacing-1;
      }
    }
  }
}

.roomDetails {
  margin-top: $spacing-2;
  display: flex;
  justify-content: flex-start;
  gap: $spacing-4;
  flex-wrap: wrap;

  @media (max-width: $screen-lg) {
    font-size: $font-sm;
  }

  @media (max-width: $screen-sm) {
    justify-content: center;
  }

  & > .roomDetailDivider {
    width: 1px;
    background-color: #777;
  }
}

.roomDetail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-2;

  & > .detailIcon {
    width: 15px;
    height: 15px;
  }
}

.roomDescription {
  margin-top: $spacing-4;
  line-height: 1.75;
  max-width: 65ch;
}


.button {
  display: inline-block;
  margin-top: $spacing-9;
  padding: $spacing-4 $spacing-16;
  color: #fff;
  background-color: $color-primary-light;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  font-size: $font-sm;
  letter-spacing: 1px;

  &:hover {
    background-color: $color-primary;
  }
}