@import "/src/styles/base";

.eventSection {
  background-color: $color-surface;
  padding: $spacing-36 0;
  line-height: 1.75;
}

.eventGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $spacing-20;

  @media (max-width: $screen-lg) {
    grid-template-columns: 1fr;
    row-gap: $spacing-24;
    padding: 0 $spacing-4;
  }
}

.gridCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: $spacing-20;
}

.eventSectionHeader {
  @media (max-width: $screen-lg) {
    text-align: center;
  }

  & > h3 {
    font-family: $font-serif;
    font-size: $font-5xl;
    color: $color-text-light;

    @media (max-width: $screen-lg) {
      font-size: $font-4xl;
    }
  }

  & > p {
    margin-top: $spacing-2;
  }
}

.eventItem {
  opacity: 0.9;
  transition: all 0.3s ease-out;

  @media (max-width: $screen-lg) {
    text-align: center;
  }

  & > .eventItemImg {
    overflow: hidden;

    & > img {
      transition: 0.3s all ease-out;
    }
  }

  & > h4 {
    margin-top: $spacing-4;
    font-size: $font-4xl;
    font-family: $font-serif;
    color: $color-text-light;

    @media (max-width: $screen-sm) {
      font-size: $font-2xl;
    }
  }

  & > .eventDate {
    font-size: $font-xl;
    font-family: $font-serif;

    @media (max-width: $screen-sm) {
      font-size: $font-lg;
    }
  }

  & > .eventDescription {
    margin-top: $spacing-1;

    @media (max-width: $screen-lg) {
      font-size: $font-sm;
    }
  }
}

.eventItem:hover {
  opacity: 1;
}

.eventItem:hover img {
  transform: scale(1.05);
}