@import "src/styles/base";

.bookingPage {
  padding: $spacing-12 $spacing-4;

  & h1 {
    font-family: $font-serif;
    font-size: $font-4xl;

    @media (max-width: $screen-sm) {
      font-size: $font-3xl;
    }
  }
}

.returnButton {
  display: inline-block;
  margin-top: $spacing-12;
  padding: $spacing-3 $spacing-16;
  background-color: $color-primary;
  color: #fff;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $color-primary-dark;
  }
}